h1{
    background-color: #96708d;
    color:#42123e;
    font-family: Georgia;
    text-align: center;
    padding: 10px;
    border-radius:5%
   /* border: 3px hsl(239, 98%, 51%) solid;*/
}
body{
    background-color: rgb(212, 191, 191);
}
em{
    font-weight: bold;
    font-size: 2 em;
    text-align: center;
    color: #42123e;
}
p{
    font-family: Arial;
    font-size: 1 em;
    font-weight: 100%;
    border: 2px #292301 dashed;
    background-color: #96708d;
    color: #42123e;
} 
img{
    border-radius: 50%;

}
h3{background-color:#96708d;
    color: #42123e;
    font-family: Georgia;
    padding: 10px;
    border: 3px #292301 solid

}

ul{
    border: 2px #292301 dashed;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
ol{
    border: 2px #292301 dashed;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

li{
    font-family: Arial;
    color: #42123e;
}